* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
ul {
  list-style-type: none;
}
.toggle {
  width: 30px;
  display: none;
}
.toggle:hover {
  cursor: pointer;
}
.toggle li {
  border: 1px solid #fff;
}
.toggle li + li {
  margin: 5px 0;
}
.container {
  display: flex;
}
.container .nav {
  width: 200px;
  background-color: #333;
  height: 100vh;
}
.container .nav button {
  width: 100%;
  border: none;
  padding: 12px 16px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  background-color: #333;
  transition: all 0.2s;
}
.container .nav button:hover {
  background-color: #535353;
  font-size: 16px;
  padding: 11px 7px;
}
.container .nav .active {
  background-color: #535353;
  font-size: 16px;
  padding: 11px 7px;
}
.container .nav .menu li + li {
  margin-top: 5px;
}
.container .main-content {
  position: relative;
  flex: 1;
  background-color: purple;
}
.container .main-content .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  background-color: #fff;
}
.container .main-content .half {
  float: left;
  width: 50%;
  margin-top: 16px;
  padding: 0 8px;
}
.container .main-content .half input {
  display: block;
  padding: 8px;
  width: 100%;
  font-size: 14px;
}
.container .main-content .title {
  background-color: #4CAF50;
  padding: 10px;
  margin-bottom: 10px;
}
.container .main-content .title h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .container .nav {
    position: relative;
    width: 100%;
    background-color: #333;
    height: 45px;
  }
  .container .nav .toggle {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
  }
  .container .nav .menu {
    position: absolute;
    display: block;
    min-width: 200px;
    top: 45px;
    right: 20px;
    background-color: #333;
  }
  .container .nav button {
    width: 100%;
    border: none;
    padding: 12px 16px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    background-color: #333;
    transition: all 0.2s;
  }
  .container .nav button:hover {
    background-color: #535353;
    font-size: 14px;
    padding: 12px 16px;
  }
}
